.header{
    margin-top: 0px;

}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #444;
}

.headerTitleSm{
    position: absolute;
    top: 12%;
    font-size: 20px;
}
.headerTitleLg{
    position: absolute;
    top: 15%;
    font-size: 100px;
    color: rgba(28, 233, 9, 0.884);
}

.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 0;
    object-fit: cover;
}